# qm.service
# Qompass AI Quick Mirror Service
# Copyright (C) 2025 Qompass AI, All rights reserved
# ----------------------------------------
[Unit]
Description=Update Arch Linux mirrorlist using rate-mirrors

[Service]
Type=oneshot
ExecStart=/usr/bin/rate-mirrors --protocol=https --entry-country=US arch > %h/.config/pacman/mirrorlist.tmp
ExecStartPost=/usr/bin/install -m644 %h/.config/pacman/mirrorlist.tmp %h/.config/pacman/mirrorlist

[Timer]
OnCalendar=hourly       # Change to 'daily', 'weekly', or specific time as needed
Persistent=true

[Install]
WantedBy=default.target
